@model CentricTeam15.Models.CommitToDeliveryExcellence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommitToDeliveryExcellence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.deID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
