@model IEnumerable<CentricTeam15.Models.RecognizeMe>

@{
    ViewBag.Title = "Index";
}

<h2>A List of Recognized Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style ="width:100%" class="table table-striped, table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonGettingAward.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bussinessUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonGettingAward.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bussinessUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit Comment", "Edit", new { id=item.recognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.recognitionID }) 
        </td>
    </tr>
}

</table>
